<div id="main">
  <div class="chart-label">
    <h1>Activity<h1>
  </div>

  <ul class="chart-buttons">
    <li class="chart-button">
      <button id="today" class="btn btn-default btn-xs">
        Today
      </button>
    </li>
    <li class="chart-button">
      <button id="three-days" class="btn btn-default btn-xs">
        3 Days
      </button>
    </li>
    <li class="chart-button">
      <button id="seven-days" class="btn btn-default btn-xs">
        7 Days
      </button>
    </li>
    <li class="chart-button">
      <button id="fourteen-days" class="btn btn-default btn-xs">
        14 Days
      </button>
    </li>
  </ul>

  <canvas class="chart" height="300" width="800"></canvas>

  <ul class="chart-control">
    <li class="chart-button">
      <button id="mean-line" class="btn btn-primary btn-xs">
        Mean Line
      </button>
    </li>
    <li class="chart-button">
      <button id="trend-line" class="btn btn-primary btn-xs">
        Trend Line
      </button>
    </li>
  </ul>

  <div class="segment-label">
    <h1>Segments</h1>
  </div>

  <ul class="segment-links">
    <li id="all-link"><a href="#">All</a></li>
    <li id="male-link"><a href="#">Male</a></li>
    <li id="female-link"><a href="#">Female</a></li>
  </ul>
  <ul class="segment-numbers">
    <li class="segment-all"></li>
    <li class="segment-male"></li>
    <li class="segment-female"></li>
  </ul>

  <div class="devices-label">
    <h1>Devices</h1>
  </div>

  <canvas class="pie-chart" height="300" width="300"></canvas>
</div>